<br>
<br>
<br>
<br>
<img src='/src/assets/images/Personnel-1.jpg'>


<h2> En quelques mots ...</h2>
<p> 

    EXCELTECC est une société spécialisée dans le domaine de la sécurité électronique .Elle a été fondée en 2009, lorsqu'elle a mis sur le marché des technologies de pointe et des solutions clés en main, adaptables à tous les secteurs, et ciblées à une large gamme de clientèle.
    
    Le monde de la sécurité électronique a connu un incroyable essor technologique durant les dernières années . Pour faire face à ces défis, Exceltecc vous fournit le meilleur choix des systèmes de la gestion de sécurité, et met à votre disposition un large éventail de services: Gestion de flotte par GPS/GPRS, Système de vidéo-surveillance, contrôle d'accès et pointage, Alarmes anti-intrusion, Anti-incendie…
    
    La notoriété d'EXCELTECC repose sur une offre d'équipements de qualité certifiés, sur sa grande réactivité, sa capacité de réponse aux exigences d'un marché en constante évolution, où la sécurité représente un enjeu stratégique et fait appel à des technologies de plus en plus sophistiquées.
    
    Si vous n'arrivez pas à définir exactement vos besoins, n'hésitez pas à prendre contact avec notre équipe commerciale afin qu'elle puisse vous concevoir une offre sur mesure qui répond parfaitement à vos attentes.
    
    Toute l'équipe technique est à votre écoute et prête à se déplacer chez vous, pour vous conseiller, orienter, choisir avec vous les solutions optimales pour vous garantir une sécurité maximale.!</p>
