<header id="header" class="header-transparent">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="index.html"></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="index.html">Acceuil</a></li>
          <li><a routerLink='Exceltecc'>Exceltecc</a></li>
          <li><a routerLink='Exceltecc'>Services</a></li>
          <li class="menu-has-children"><a href="">Produits et services</a>
            <ul>
              <li class="menu-has-children"><a href="#">Puce Rfid</a>
              </li>
              <li><a routerLink='Excletracer'>Exceltracer</a></li>
              <li><a routerLink='Reaview'>Reaview Miror DVR</a></li>
              <li><a routerLink='Tabaani'>TABAANI</a></li>
              <li><a routerLink='Taxibibi'>TAXIBIBI</a></li>
            </ul>
          </li>
          <li><a routerLink='Taxibibi'>Recherche</a></li>
          <li><a routerLink='Connection/1'>Connectez-vous</a></li>
         
          <li><a href="Inscription">Inscription</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->
   <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Bienvenue a Exceltecc</h1>
     
  
      
      <a href="http://localhost:4201/tchat">plus</a>
    
      <a href="#about" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- End Hero Section -->