<section id="about">
    <div class="container" data-aos="fade-up">
      <div class="row about-container">

        <div class="col-lg-6 content order-lg-1 order-2">
          <h2 class="title">Exceltrace®</h2>
          <p>
            En quelques mots ...
 EXCELTECC est une société spécialisée dans le domaine de la sécurité électronique .Elle a été fondée en 2009, lorsqu'elle a mis sur le marché des technologies de pointe et des solutions clés en main, adaptables à tous les secteurs, et ciblées à une large gamme de clientèle.
 
 Le monde de la sécurité électronique a connu un incroyable essor technologique durant les dernières années . Pour faire face à ces défis, Exceltecc vous fournit le meilleur choix des systèmes de la gestion de sécurité, et met à votre disposition un large éventail de services: Gestion de flotte par GPS/GPRS, Système de vidéo-surveillance, contrôle d'accès et pointage, Alarmes anti-intrusion, Anti-incendie…
 
 La notoriété d'EXCELTECC repose sur une offre d'équipements de qualité certifiés, sur sa grande réactivité, sa capacité de réponse aux exigences d'un marché en constante évolution, où la sécurité représente un enjeu stratégique et fait appel à des technologies de plus en plus sophistiquées.
 
 Si vous n'arrivez pas à définir exactement vos besoins, n'hésitez pas à prendre contact avec notre équipe commerciale afin qu'elle puisse vous concevoir une offre sur mesure qui répond parfaitement à vos attentes.
 
 Toute l'équipe technique est à votre écoute et prête à se déplacer chez vous, pour vous conseiller, orienter, choisir avec vous les solutions optimales pour vous garantir une sécurité maximale.
              La solution Exceltrace® de géo-localisation et de gestion de flotte par GPS/GPRS, vous permet, d’un coté, de visualiser et de localiser, en temps réel, vos véhicules par un accès web sur le site www.exceltrace.com.
    
              D’autre coté et en consultant le site précédent, vous pouvez accéder aux historiques de vos véhicules, aux rapports de synthèse et aux statistiques par période et favorisant l’optimisation de vos trajets et la minimisation de vos coûts.
            </p>
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="fa fa-photo"></i></div>
            <h4 class="title"><a href="">Lire Plus</a></h4>
            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          </div>
        </div>

        <div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left" data-aos-delay="100"></div>
      </div>

    </div>
    <br>
    <br>
    
  </section><!-- End About Section -->