

    <!-- ======= Breadcrumbs Section ======= -->

    <!-- ======= Portfolio Details Section ======= -->
    <section class="portfolio-details">
        <div class="container">
  
          <div class="portfolio-details-container">
  
            
      <img src="../../../assets/img/portfolio/Tabbaani.png">
            <div class="portfolio-info">
              <h3>information</h3>
              <ul>
                <li><strong>Nom</strong>: Web design</li>
              <li><strong>Etat</strong>: ASU Company</li>
              <li><strong>Commander</strong><a routerLink='../Panier'> :Ici</a></li>
              </ul>
            </div>
  
          </div>
  
          <div class="portfolio-description">
            <h2 id="tab">TABBAANI®</h2>
            <p>
   
              TABBAANI (www.tabbaani.com) est l’innovation en matière de sécurité et de réseau social à obtenir absolument.
              TABBAANI fonctionne à travers la technologie GPS, cette application sert à localiser rapidement et précisément les personnes que vous qui vous sont chères en temps réel en utilisant la navigation GPS, 3G et/ou WIFI.
              L'application dispose d'une carte de géolocalisation GPS avec des icônes représentant votre famille, vos amis, votre conjoint, vos employés et toute personne chère à vos yeux.
              Les parents apprécieront TABBAANI car elle leur fournira des informations à la minute sur leurs enfants.
              C’est un outil utile pour surveiller ces enfants, les membres âgés de la famille, en vous aidant à assurer leur sécurité.
              TABBAANI vous permet aussi de localiser facilement et rapidement votre smartphone pour ne plus jamais avoir de soucis comme les vols ou la perte d’appareils qui nous le savons bien occasionnent beaucoup de désagréments surtout pour les chefs d’entreprises et les personnes œuvrant dans des professions libérales qui utilisent souvent leur Smartphone comme un bureau mobile
            </p>
          </div>
        </div>
      </section><!-- End Portfolio Details Section -->
  
  