<br>
<br>
<div class="container">

    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
				    <img src="http://www.joblo.com/newsimages1/logan-x-24-hugh-jackman-villain-thumb.jpg" class="img-circle" width="100px">
			
					<div class="profile-usertitle-name">
					MOUSSAVOU MOUSSAVOU Jériel Barthy
					</div>
					<div class="profile-usertitle-job">
						Administrateur
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<!--<div class="profile-userbuttons">-->
				<!--	<button type="button" class="btn btn-success btn-sm">Follow</button>-->
				<!--	<button type="button" class="btn btn-danger btn-sm">Message</button>-->
				<!--</div>-->
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Home </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							My Account  </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-edit"></i>
							Account Setting </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-ok"></i>
							Menu</a>
						</li>
							<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
		   <div class="col-sm-4">
                 <div class="profile-content">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col-xs-6">
                              <i class="fa fa-address-card-o fa-5x"></i>
                            </div>
                            <div class="col-xs-6 text-right">
                              <p class="announcement-heading">1</p>
                              <p class="announcement-text">Actualités</p>
                            </div>
                          </div>
                        </div>
                        <a href="GestionActu">
                          <div class="panel-footer announcement-bottom">
                            <div class="row">
                              <div class="col-xs-6">
                                voir
                              </div>
                              <div class="col-xs-6 text-right">
                                <i class="fa fa-arrow-circle-right"></i>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    
			    </div>
            </div>
            <div class="col-sm-4">
                 <div class="profile-content">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col-xs-6">
                              <i class="fa fa-barcode fa-5x"></i>
                            </div>
                            <div class="col-xs-6 text-right">
                              <p class="announcement-heading">12</p>
                              <p class="announcement-text"> Produits</p>
                            </div>
                          </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
                        </div>
                        <a href="listProduit/1">
                          <div class="panel-footer announcement-bottom">
                            <div class="row">
                              <div class="col-xs-6">
                                Voir
                              </div>
                              <div class="col-xs-6 text-right">
                                <i class="fa fa-arrow-circle-right"></i>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    
			    </div>
            </div>
            <div class="col-sm-4">
                 <div class="profile-content">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col-xs-6">
                              <i class="fa fa-users fa-5x"></i>
                            </div>
                            <div class="col-xs-6 text-right">
                              <p class="announcement-heading">18</p>
                              <p class="announcement-text">Users</p>
                            </div>
                          </div>
                        </div>
                        <a href="GestionUser">
                          <div class="panel-footer announcement-bottom">
                            <div class="row">
                              <div class="col-xs-6">
                                Voir
                              </div>
                              <div class="col-xs-6 text-right">
                                <i class="fa fa-arrow-circle-right"></i>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    
			        
			    </div>
            </div>
            <div class="col-sm-4">
                 <div class="profile-content">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col-xs-6">
                              <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-6 text-right">
                              <p class="announcement-heading">9000</p>
                              <p class="announcement-text"> Messagerie</p>
                            </div>
                          </div>
                        </div>
                        <a href="#">
                          <div class="panel-footer announcement-bottom">
                            <div class="row">
                              <div class="col-xs-6">
                                Voir
                              </div>
                              <div class="col-xs-6 text-right">
                                <i class="fa fa-arrow-circle-right"></i>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
			    </div>
            </div>
            <div class="col-sm-4">
                 <div class="profile-content">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col-xs-6">
                              <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-6 text-right">
                              <p class="announcement-heading">9000</p>
                              <p class="announcement-text"> Orders!</p>
                            </div>
                          </div>
                        </div>
                        <a href="#">
                          <div class="panel-footer announcement-bottom">
                            <div class="row">
                              <div class="col-xs-6">
                                Expand
                              </div>
                              <div class="col-xs-6 text-right">
                                <i class="fa fa-arrow-circle-right"></i>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
			        
			    </div>
            
            </div>
            
		</div>
	</div>
</div>

<br>
<br>
