

    <!-- ======= Breadcrumbs Section ======= -->

    <!-- ======= Portfolio Details Section ======= -->
    <section class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container">

          
    <img src="assets/img/Rfid.jpg">
          <div class="portfolio-info">
            <h3>information</h3>
            <ul>
              <li><strong>Nom</strong>: Web design</li>
              <li><strong>Etat</strong>: ASU Company</li>
              <li><strong>Commander</strong><a routerLink='../Panier'> :Ici</a></li>
              <button type="button" (click)='Panier("Hp")'>RFID</button>
            </ul>
          </div>

        </div>

        <div class="portfolio-description">
          <h2>RFID®</h2>
          <p>
 
La radio-identification, le plus souvent désignée par le sigle RFID (de l’anglais radio frequency identification), est une méthode pour mémoriser et récupérer des données à distance en utilisant des marqueurs appelés « radio-étiquettes » (« RFID tag » ou « RFID transponder » en anglais)[WIKI].
Le principe est simple, un petit TAG sur l’oreille de la vache, chein, chat ou tout autre animal, des capteurs sur le périmètre de la firme et le tour est joué.
Vous aurez accès à tous vos informations en temps réel : Position Statut (en élevage / en allaitement…) TempératureEt bien plus encore 
          </p>
        </div>
      </div>
    </section><!-- End Portfolio Details Section -->

